In [37]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import graphviz

In [38]:
data = pd.read_csv('HEART.csv')

In [39]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,False
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,True
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,False
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,True
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,False
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,True
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,True
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,True
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,True
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,False

In [40]:
from sklearn.model_selection import KFold

In [41]:
folds = 10
kf = KFold(n_splits=folds)
kf.split(data)

In [42]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np

In [43]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

X = data[['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS', 'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope']]
y = data['HeartDisease']

#perform label encoding with the data:

encoded_sex = LabelEncoder()
encoded_ChestPainType = LabelEncoder()
encoded_RestingECG = LabelEncoder()
encoded_ExerciseAngina = LabelEncoder()
encoded_ST_Slope = LabelEncoder()
encoded_HeartDisease = LabelEncoder()

In [46]:
data['encoded_sex'] = encoded_sex.fit_transform(data['Sex'])
data['encoded_ChestPainType'] = encoded_sex.fit_transform(data['ChestPainType'])
data['encoded_RestingECG'] = encoded_sex.fit_transform(data['RestingECG'])
data['encoded_ExerciseAngina'] = encoded_sex.fit_transform(data['ExerciseAngina'])
data['encoded_ST_Slope'] = encoded_sex.fit_transform(data['ST_Slope'])
data['encoded_HeartDisease'] = encoded_sex.fit_transform(data['HeartDisease'])

In [47]:
data.head(20)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,encoded_sex,encoded_ChestPainType,encoded_RestingECG,encoded_ExerciseAngina,encoded_ST_Slope,encoded_HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,False,1,1,1,0,2,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,True,0,2,1,0,1,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,False,1,1,2,0,2,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,True,0,0,1,1,1,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,False,1,2,1,0,2,0
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,False,1,2,1,0,2,0
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,False,0,1,1,0,2,0
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,False,1,1,1,0,2,0
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,True,1,0,1,1,1,1
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,False,0,1,1,0,2,0
10,37,F,NAP,130,211,0,Normal,142,N,0.0,Up,False,0,2,1,0,2,0
11,58,M,ATA,136,164,0,ST,99,Y,2.0,Flat,True,1,1,2,1,1,1
12,39,M,ATA,120,204,0,Normal,145,N,0.0,Up,False,1,1,1,0,2,0
13,49,M,ASY,140,234,0,Normal,140,Y,1.0,Flat,True,1,0,1,1,1,1
14,42,F,NAP,115,211,0,ST,137,N,0.0,Up,False,0,2,2,0,2,0
15,54,F,ATA,120,273,0,Normal,150,N,1.5,Flat,False,0,1,1,0,1,0
16,38,M,ASY,110,196,0,Normal,166,N,0.0,Flat,True,1,0,1,0,1,1
17,43,F,ATA,120,201,0,Normal,165,N,0.0,Up,False,0,1,1,0,2,0
18,60,M,ASY,100,248,0,Normal,125,N,1.0,Flat,True,1,0,1,0,1,1
19,36,M,ATA,120,267,0,Normal,160,N,3.0,Flat,True,1,1,1,0,1,1

In [48]:
new_df = data.drop(['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope',  'HeartDisease' ], axis='columns')

In [49]:
new_X = new_df[['Age', 'encoded_sex', 'encoded_ChestPainType', 'encoded_RestingECG', 'Cholesterol', 'FastingBS', 'MaxHR', 'encoded_ExerciseAngina', 'Oldpeak', 'encoded_ST_Slope']]
new_y = new_df['encoded_HeartDisease']

In [52]:
k = 10
kf = KFold(n_splits=k)
kf.split(new_X)

In [53]:
from sklearn.metrics import accuracy_score

In [54]:
for train_index, test_index in kf.split(X):
    # Select rows based on indices
    X_train, X_test = new_X.iloc[train_index], new_X.iloc[test_index]
    y_train, y_test = new_y.iloc[train_index], new_y.iloc[test_index]

In [55]:
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)

In [56]:
    accuracy = accuracy_score(y_test, predictions)
    accuracies.append(accuracy)

In [57]:
print(f"Accuracies for each fold: {accuracies}")
print(f"Mean accuracy: {np.mean(accuracies)}")

Accuracies for each fold: [0.8021978021978022]
Mean accuracy: 0.8021978021978022